<%- include('partials/head') %>
<%- include('partials/navigation') %>
<main>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card animate__animated animate__jackInTheBox">
                    <img src="/img/hernan.jpg" alt="Hernan Virgilio Demorizi Ureña">
                    <div class="card-body">
                        <h5 class="card-title">Hernan V. Demorizi Ureña</h5>
                        <p class="card-text">Development and web design by Hernan.Reiq</p>
                        <a href="https://bit.ly/hernanreiq" target="_blank" class="btn btn-view w-100">Visit my portfolio <i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>
